h1 {
  color: rgb(220, 235, 16);
  font-size: 30px;
  margin: 0px;
  background-color: rgb(124, 5, 51);
  text-align: center;
  text-transform: uppercase;
}

img {
  width: 600px;
  height: 400px;
}

p {
  font-size: 30px;
  margin: 0px;
  text-align: center;
  text-transform: uppercase;
}